h3 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 300;
}

.background-gray {
  background-color: #f6f8fa;
}

.text-white {
  color: white;
}

.background-dark {
  background-color: #222;
}

.text-center {
  text-align: center;
}
p,
h3,
h2,
h1 {
  text-align: center;
}

.padding-top-80 {
  padding-top: 80px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}
