.banner {
  background: url('../../assets/images/woman-typing-writing-windows.jpg') 50%
    50%;
  text-align: center;
  color: white;
  background-size: cover;
  max-width: 100%;
  height: 450px;
  vertical-align: middle;
}

.header {
  font-family: 'Helvetica Neue', 'Arimo', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 66px;
  line-height: 74px;
  letter-spacing: -1px;
}

.subheader {
  font-size: 36px;
  line-height: 44px;
  font-weight: 300;
}
